<h1>Crear Competencia - Participantes - Paso 3</h1>

<div>
	<% $participantes.each do |participante| %>
	<p><%= participante['Nombre'] %> - <%= participante['Pais'] %></p>
	<% end %>
</div>

<div class="formulario">
	<%= form_tag("/nueva_competencia/paso3", multipart: true) do %>
		<div class="field">
			<%= label_tag(:participantes, "Subir la plantilla con los participantes (Instituciones deportivas") %> <br>
			<%= file_field_tag(:archivo) %>
		</div>

		<div class="field">
			<%= submit_tag("Siguiente") %>
		</div>

	<% end %>
</div>